@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: linear-gradient(
    black 75.177304964%,
    rgba(0, 117, 117, 0.65) 24.822695035%
    );
    height: 141px;
    }

.container_grid {
    width: 1718px;
    margin: 0 auto;
   
}
    
.posicionamento_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75.177304964%;

}

.container_grid2 {
    width: 1718px;
    margin: 0 auto;
}
    
.posicionamento_header2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 24.822695035%; 

}

.menu {
    width: 1716px;
    display: flex;
    justify-content: space-between;
     

}

.menu a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
   
    
}

.barras {
    display: none;
}


.banner {
    background-image: url(../img/Banner.png);
    height: 602px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media screen and (max-width: 1750px){
    .container_grid {
        width: 95%;
    }
    .container_grid2 {
         width: 95%;
     }
     .menu a {
         font-size: 16px;
     }
    .logo {
        width: 95%;
    }
}

@media screen and (max-width: 768px){
    .container_grid {
        width: 90%;
    }
    .container_grid2 {
         width: 90%;
     }
     .menu a {
        font-size: 16px;
        text-align: center;
        padding: 15px;
    }
    .logo  {
        width: 90%;
    }
    .barras {
        display: inline-block;
    }
    .menu {
        display: none;
        flex-direction: column;
        width: 200px;
        background-color: rgba(0, 117, 117, 0.65);
        position: absolute;
        top: 0;
        right: 0;

    }
    .posicionamento_header {
        position: relative;
    }
    .posicionamento_header2{
        position: relative;
    }
}

